
/*
FLAT COLORS
#00a885
#3d8eb9
#9365b8
#475577
#f37934
#fba026
#b8312f
#1abc9c
#a38f84
*/


.flat-section{
    background-color: #3d8eb9;
    height: 100vh;

}

.message-section{
    color: #ffffff;
    font-family: "Raleway", serif;
    margin-bottom: 100px;
    text-align: center;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}